# Obtain Blog ID from from https://www.wisp.blog/app/setup
NEXT_PUBLIC_BLOG_ID=cm8e45hwe0000g6hr90eqnbfu
NEXT_PUBLIC_BASE_URL="https://example.com"
NEXT_PUBLIC_BLOG_ORGANIZATION="My Organization"
NEXT_PUBLIC_BLOG_TITLE="My Blog Title"
NEXT_PUBLIC_BLOG_DESCRIPTION="My Blog Description"